mat-card{
    /* width:500px;
    left: 30%;
    top: 10rem; */
    height: 100vh;
    top: 10rem;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.example-spacer {
    flex: 1 1 auto;
  }

.firebaseui-list-item{
    display: inline-flex!important;
}
.firebaseui-idp-list {
    display: inline-flex!important;
}

.ul{
    display: inline-flex!important;
}
.li {
    display: inline-flex!important;
}