/* You can add global styles to this file, and also import other style files */
@import '~firebaseui/dist/firebaseui.css';

.firebaseui-list-item{
    display: inline-flex!important;
}
.firebaseui-idp-list {
    display: inline-flex!important;
}
.ul{
    display: inline-flex!important;
}
.li {
    display: inline-flex!important;
}
.mdl-button{
    border-radius: 2cm!important;
}

